body{
 margin:50px 0px; 
 padding:0px;
 text-align:center;
}
#container{
 width:800px;
 margin: 0px auto;
 text-align:left;
 border:2px solid;
}
#header{
 text-align:center;
 border:0px solid;
 }
#menu{
 border-top: 3px solid;
 border-bottom:3px solid;
 padding:10px;
 text-align:center;
}
#intro{
 padding:20px;
}
#talks{

}
table{
 border-collapse:collapse;
 table-layout:fixed;
}
td{
 border: 1px solid;
 padding: 10px;
 spacing: 0px;
}
h2{
 text-align:center;
}

details > summary {
	padding:20px;
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

summary{
padding:20px;
}